@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clearfix {
    @apply after:clear-both after:content-[''] after:table before:clear-both before:content-[''] before:table;
  }
  .max-width-container{
    max-width: 1300px;
  }
  .content-min-h-desktop{
    min-height: calc(100vh - 230px);
  }
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}


@font-face {
  font-family: 'samim';
  src: url('/assets/fonts/samim/Samim-FD.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'samim';
  src: url('/assets/fonts/samim/Samim-Medium-FD.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'samim';
  src: url('/assets/fonts/samim/Samim-Bold-FD.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'vazir';
  src: url('/assets/fonts/vazir/Vazir-FD.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'vazir';
  src: url('/assets/fonts/vazir/Vazir-Medium-FD.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'vazir';
  src: url('/assets/fonts/vazir/Vazir-Bold-FD.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.inserted-content {
  p{
    margin-bottom: 15px;
  }
  h2{
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 10px;
  }
  h3{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
  }
  h5{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
  }
  ul{
    list-style-type: disc;
    list-style-position: inside;
    li{
      margin-bottom: 5px;
    }
  }
}